<html>
  <script type="text/javascript">
    var user_id = <%- JSON.parse(user).id %>;
    var user_name = "<%- JSON.parse(user).displayName %>";
    var avatar_url = "<%- JSON.parse(JSON.parse(user)._raw).avatar_url %>";
  </script>
	<head>
		<title>Hack & Chat</title>
		<meta name="description" content="Chatroom for hackers">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>
	  <div class="top">
	    <div class="top-left">
	      <div class="tab"> Hack & Chat </div>
	    </div>
	    <div class="top-right">
	      <a href="/signout">Sign out</a>
	    </div>
	  </div>
	  <div class="middle">
	    <div class="middle-left">
	      <div class="chat-body" id="chat-body">
	      </div>
	      <div class="chat-writer">
	        <textarea id="message" class="chat-writer-input"></textarea>
	      </div>
	    </div>
	    <div class="middle-right">
	      <div class="who-is-online">
	        <div class="who-is-online-header">Online</div>
	        <div class="who-is-online-body" id="who-is-online-body">
	        </div>
	      </div>
	    </div>
	  </div>
	</body>
</html>
