html, body, iv, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: #000;
  background: #fff; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

div.top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  background-color: #f1f1f1;
  border-bottom: 2px solid #e5e5e5;
  border-top: 2px solid #e5e5e5; }
  div.top div.top-left {
    float: left; }
    div.top div.top-left div.tab {
      border: 2px solid #e5e5e5;
      margin-top: 12px;
      margin-left: 50px;
      font-size: 18px;
      background-color: white;
      border-bottom: 0;
      -moz-border-radius-topright: 3px;
      border-top-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      border-top-left-radius: 3px;
      padding: 5px;
      color: #0c0c0c;
      font-family: Arial; }
  div.top div.top-right {
    float: right; }
    div.top div.top-right a {
      font-size: 12px;
      color: #5a5a5a;
      display: block;
      margin-top: 20px;
      margin-right: 20px; }

div.middle {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; }
  div.middle div.middle-left {
    float: left;
    width: 70%;
    height: 100%; }
    div.middle div.middle-left div.chat-body {
      overflow-y: scroll;
      overflow-x: hidden;
      border: 2px solid #e5e5e5;
      margin: 20px;
      height: 80%; }
      div.middle div.middle-left div.chat-body div.chat-body-element-message {
        border: 2px solid #e5e5e5;
        margin: 5px;
        margin-right: 11px;
        position: relative; }
        div.middle div.middle-left div.chat-body div.chat-body-element-message h1.user-name {
          display: inline-block;
          position: absolute;
          top: 5px;
          left: 55px;
          font-weight: bold;
          font-family: Arial; }
        div.middle div.middle-left div.chat-body div.chat-body-element-message p.message {
          display: inline-block;
          position: absolute;
          top: 27px;
          left: 55px;
          font-family: Arial; }
        div.middle div.middle-left div.chat-body div.chat-body-element-message p.timestamp {
          display: inline-block;
          position: absolute;
          top: 20px;
          right: 5px;
          font-family: Arial;
          color: #c0c4c8; }
      div.middle div.middle-left div.chat-body div.chat-body-element-movement {
        position: relative;
        border: 2px solid #e5e5e5;
        margin: 5px;
        margin-right: 11px; }
        div.middle div.middle-left div.chat-body div.chat-body-element-movement p.message {
          display: inline-block;
          position: absolute;
          top: 20px;
          left: 55px;
          font-weight: bold;
          font-family: Arial; }
        div.middle div.middle-left div.chat-body div.chat-body-element-movement p.timestamp {
          display: inline-block;
          position: absolute;
          top: 20px;
          right: 5px;
          font-family: Arial;
          color: #c0c4c8; }
    div.middle div.middle-left div.chat-writer {
      margin: 20px; }
      div.middle div.middle-left div.chat-writer textarea {
        width: 100%;
        height: 40px;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */ }
  div.middle div.middle-right {
    float: right;
    width: 30%; }
    div.middle div.middle-right div.who-is-online {
      margin-top: 20px; }
      div.middle div.middle-right div.who-is-online div.who-is-online-header {
        font-family: Arial;
        font-size: 18px; }
      div.middle div.middle-right div.who-is-online div.who-is-online-body {
        padding-top: 10px; }
        div.middle div.middle-right div.who-is-online div.who-is-online-body div.who-is-online-element h1.user-name {
          display: inline-block;
          position: relative;
          bottom: 20px;
          left: 10px; }

img.user-image {
  height: 50px;
  width: 50px; }
